
.sectionmini_product {
    max-width: 100% !important;
    background: #232323;
    height: 13vh !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.section_product {
    display: grid;
    grid-template-columns: 22% 88%;
    gap: 20px;
    background: #E1dddd;
    /*    overflow: hidden;*/
    background-size: cover;
   
}
.container {
    margin-left: 200px;

}
.product_rubrik {
    font-size: 28px;
    padding-top: 12dvh ;
    padding-bottom: 1dvh;
}
.sidebar {
    width: 500px;
    padding: 20px;
    margin-top: 100px;
    flex: 1;
}

.product-categories,
.product-tags {
    margin-top: 10px;
    display: table-cell;
}

    .product-categories .category-wrapper,
    .product-tags .tag-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .product-categories ul,
    .product-tags ul {
        list-style-type: none;
        padding: 0;
    }

    .product-categories li,
    .product-tags li {
        margin-right: 10px;
    }

.category-name,
.tag-name {
    margin-right: 5px;
}

a.link {
    text-decoration: none;
    width: 130px;
    color: #1E1C1A;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
    letter-spacing: 1.2px;
    padding: 10px;
    border-radius: 52px;
    border: 1px solid #1E1C1A;
    background: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
    a.link.active {
        color: #FFF;
        border: 1px solid #818B6E;
        background: #818B6E;
    }
    a.link:hover {
        color: #FFF;
        border: 1px solid #818B6E;
        background: #818B6E;
    }
    a.link.active:hover {
        color: #FFF;
        border: 1px solid #666;
        background: #666;
    }

.product {
    margin-bottom: 50px;
}
.details-content {
    display: flex;

}

.left-content {
    flex: 1;
    padding-top: 100px;
    margin-left: 200px;
}

.right-content {
    flex: 1;
    padding-top: 150px;
    margin-left: -160px;
    margin-right: 100px;
}
.details {
    margin-bottom: 200px;
}


.checkout {
    float: right;
    margin-top: 30px;
    
}
.shop-cart {
    margin-bottom: 300px;
    margin-top: 30px;
}
.text-warning{
    text-align: center;
}

.h1-shop {
    margin-top: 120px;
    margin-bottom: 50px;
}

/*Checkout*/


.contact-details {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
}

    .contact-details div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }

    .contact-details label {
        white-space: nowrap;
    }

    .contact-details input {
        padding: 5px;
    }